target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

.vscode/
.settings/
.project
.classpath
.factorypath

HELP.md
.mvn/

build/
!**/src/main/**/build/
!**/src/test/**/build/

*.log
logs/

.DS_Store
